/* Общие стили */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif; /* Или другой подходящий шрифт */
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Заголовок */
header {
    background: url(./img/head.jpg);
    background-size: cover;
    background-position: 0px -50px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px; 
}

.container__header{
    border: 2px solid rgb(100, 100, 100 , 0.2);
    backdrop-filter: blur(70px);
    box-shadow: 0px 0px 20px #312004;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 10px;
}

.container__header .site-title {
    display: flex;
    padding: 10px;
    background: transparent;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}
.site-title .defolt-link{
    transition: color 0.2s linear;
    text-decoration: none;
    color: #fff;
}
.site-title .defolt-link:hover{
    color: #bf8727;
}

/*////////////////Работа с поиском///////////////////*/

.container__header .search-bar {
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 60px;
    transition: 0.5s;
    box-shadow: 0px 0px 10px #312004;
}

.search-bar .search-icon{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    z-index: 5;
    cursor: pointer;
}

.search-bar .search-icon::before{
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    border: 3px solid #e69710;
    border-radius: 50%;
    transform: translate(-2px, -2px);
}

.search-bar .search-icon::after{
    position: absolute;
    content: '';
    width: 3px;
    height: 10px;
    background: #e69710;
    transform: translate(8px, 8px) rotate(-45deg);
}
.search-bar.active{
    width: 350px;
}

.search-bar .search-input{
    position: relative;
    width: 300px;
    height: 50px;
    left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar .search-input input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
    font-size: 18px;
    padding: 10px 0;
}

.search-bar .clear{
    position: absolute;
    top: 50%;
    right: 15px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
}

.search-bar .clear::before{
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background-color: #999;
    transform: rotate(45deg);
}

.search-bar .clear::after{
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background-color: #999;
    transform: rotate(-45deg);
}

/*/////Работа с навигацией/////////////////////////////////////*/

nav {
    text-align: right; /* Выравнивание навигации справа */
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    display: inline-block;
    margin-left: 20px;
}

.nav-links li a{
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.2s linear;
}

.nav-links li a:hover{
    color: #bf8727;
}

/*/////////////////////////////////////////////*/
/* Основной контент */
main {
    background: url(./img/Fon2.jpg);
}


.hero {
    box-shadow: 0px 0px 10px #000;
    backdrop-filter: blur(50px);
    color: #fff;
    text-align: center;
}

.hero h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero-buttons {
    margin-top: 20px;
}

.hero-buttons button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #4CAF50; /* Зеленый цвет */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero-buttons a{
    text-decoration: none;
    color: #fff;
}

.features {
    margin-top: 40px;
}

.features .container__info{
    max-width: 1300px;
    display: flex;
    flex-direction: column;
}
.container__info h2{
    color: #fff;
    font-size: 40px;
    margin-left:20px ;
}

/*Выдвигающиеся плашки /////////////////////////// */
.feature {
  position: relative; /* Важно! */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  transition: width 1.5s, height 1.5s;
  box-shadow: 0px 0px 10px #312004;
  width: 400px;
  height: 180px;
  margin: 20px;
  overflow: hidden; /* Скрываем контент, выходящий за пределы */
}

.feature p {
    max-width: 360px;
    display: flex;
    position: absolute;
    top: 60px;
    left: 20px;
    justify-content: center;
    align-items: center;
}

.feature h3 {
    max-width: 360px;
    display: flex;
    position: absolute;
    top: 20px;
    left: 20px;
    justify-content: center;
    align-items: center;
}

.feature .Arrow{
    display: flex;
    position: absolute;
    left: 340px;
    top: 120px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    animation: rotation1 0.2s linear;
}


.feature .Arrow::before{
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    border-top: 4px solid black;
    border-right: 4px solid black;
    transform:translate(4px, 0px) rotate(45deg);
}
.feature .Arrow::after{
    position: absolute;
    content: '';
    width: 3px;
    height: 14px;
    background: black;
    transform:translate(-1px, 0px) rotate(90deg);
}

.feature.active{
    width: 100%;
    height: 500px;
}
.Arrow.active{
    animation: rotation2 0.2s linear;
    transform:translate(0px, 0px) rotate(180deg);
}
@keyframes rotation1 {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes rotation2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-180deg);
  }
}


/*Таблица Статистики Stats/////////////////////////////////////*/

.Info-Stats{
    display: flex;
    position: absolute;
    box-shadow: 0px 0px 10px #000;
    top: 20px;
    left: 410px;
    width: 860px;
    height: 460px;
    background: url(./img/Art-vertical.jpg) no-repeat;
    background-size: 100%;
    opacity: 0; /* Скрыто по умолчанию */
    transition: opacity 1.3s ease-out;
}

.feature.active .Info-Stats{
    opacity: 1; /* Появляется при .feature.active */
}

.Info-Stats.active{
    display: none;
}

.Info-Stats table{
    border: 2px solid rgb(100, 100, 100 , 0.2);
    backdrop-filter: blur(40px);
    width: 90%;
    border-collapse: collapse;
    margin: 20px auto;
}

.Info-Stats th, td{
    color: #fff;
    border: 2px solid;
    padding: 8px;
    text-align: center;
}

.Info-Stats th{
    font-weight: bold;
}

.Info-Stats .ArrowStats{
    display: flex;
    width: 40px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.Info-Stats .ArrowStats::before{
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    border-top: 4px solid #fff;
    border-right: 4px solid #fff;
    transform:translate(4px, 0px) rotate(45deg);
}
.Info-Stats .ArrowStats::after{
    position: absolute;
    content: '';
    width: 3px;
    height: 14px;
    background: #fff;
    transform:translate(-1px, 0px) rotate(90deg);
}

/*Таблича Статистики KDA/////////////////*/
.Info-KDA{
    display: flex;
    position: absolute;
    box-shadow: 0px 0px 10px #000;
    top: 20px;
    left: 410px;
    width: 860px;
    height: 460px;
    background: url(./img/Fon_KDA.jpg) no-repeat;
    background-size: 100%;
    display: none;
    opacity: 0; /* Скрыто по умолчанию */
    transition: opacity 1.3s ease-out;
}

.Info-KDA.active{
    display: flex;
}

.feature.active .Info-KDA{
    opacity: 1;
}

.Info-KDA table{
    border: 2px solid rgb(100, 100, 100 , 0.2);
    backdrop-filter: blur(40px);
    width: 90%;
    border-collapse: collapse;
    margin: 20px auto;
}

.Info-KDA th, td{
    color: #fff;
    border: 2px solid;
    padding: 8px;
    text-align: center;
}

.Info-KDA th{
    font-weight: bold;
}

.Info-KDA .ArrowKDA{
    display: flex;
    width: 40px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.Info-KDA .ArrowKDA::before{
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    border-top: 4px solid #fff;
    border-right: 4px solid #fff;
    transform:translate(4px, 0px) rotate(45deg);
}
.Info-KDA .ArrowKDA::after{
    position: absolute;
    content: '';
    width: 3px;
    height: 14px;
    background: #fff;
    transform:translate(-1px, 0px) rotate(90deg);
}



/* Рекомендаций ///////////////////////////////////////////////////////////////// */
.feature .Info-Recommendations{
    display: flex;
    flex-direction: column;
    position: absolute;
    box-shadow: 0px 0px 10px #000;
    top: 20px;
    left: 410px;
    width: 860px;
    height: 460px;
    background-size: 100%;
    opacity: 0; /* Скрыто по умолчанию */
    transition: opacity 1.3s ease-out;
}

.feature.active .Info-Recommendations {
    opacity: 1;
}

.player-info .Img-Profil{
    box-shadow: 0px 0px 10px #000;
    position: absolute;
    width: 250px;
    left: 70.9%;
}

.player-name {
    font-size: 40px;
    margin: 0; /* Удаляем стандартные отступы у заголовка */
}

.player-data ul {
  list-style: none; /* Убираем маркеры списка */
  padding: 0;
  margin: 0;
}

.player-data li {
  margin-bottom: 5px;
}

.player-data span {
  font-weight: bold;
}

.player-advice {
  margin-top: 10px;
}

.player-advice .Sovet{
    max-width: 80%;
    font-style: italic;
    top: 250px;
}

/* Отзывчивый дизайн (опционально) */
@media (min-width: 768px) {
  .player-stats {
    flex-direction: row; /* Элементы расположены горизонтально на больших экранах */
    justify-content: space-between; /* Распределяем элементы равномерно */
    align-items: center; /* Выравниваем по вертикали */
  }

  .player-info, .player-data, .player-advice {
    flex: 1; /* Занимаем одинаковое пространство */
    margin: 0 10px; /* Отступ между элементами */
  }
}




.feature .Info-Charts{
    display: flex;
    position: absolute;
    box-shadow: 0px 0px 10px #000;
    backdrop-filter: blur(10px);
    top: 20px;
    left: 410px;
    width: 860px;
    height: 460px;
}

/* Футер */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

